<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <h1 style="display: inline">Add book </h1>
    <h2 style="display: inline"><a href="/listbooks"> List of Books</a></h2>

<tr>
    <div></div>
<label>Book Title:</label>
    <input type="text" />
    <label>Book Genre:</label>
    <input type="text" />
    <label>Book Author:</label>
    <input type="text" />
    <td>
        <button name="addBook" type="submit" value="0">Add</button>
    </td>
</tr>
</body>
</html>